/* CSS declarations go here */

body {
  background: url('symphony.png');
  text-align: center;
}

h1 {
  font-family: Pacifico;
  text-align: center;
  font-size: 6rem;
}

img {
  height: 75vh;
}

.tasks {
  position: absolute;
  top: 15%;
  left: 18%;
  z-index: 10;
  text-align: left;
  
}

.taskmenu {
  position: relative;
}

h2 {
  font-family: Pacifico;
  text-align: center;
  font-size: 3rem;
}

.flower {
  height: 90vh;
}

.points {
	align: right;
  width: 200px;
}

.login {
  margin-top: 30px;
}

.leaderboard {
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-aligh: center;
    padding: 20px;
}

.leaderboard img {
    width: 50px;
    height: 50px;
}