/* CSS declarations go here */

body {
  background: url('symphony.png');
  text-align: center;
}

h1 {
  font-family: Pacifico;
  text-align: center;
  font-size: 6rem;
}

.tasks {
  position: absolute;
  top: 15%;
  left: 18%;
  z-index: 10;
  text-align: left;
  
}

.taskmenu {
  position: relative;
}

.clipboard {
  width: 100%;
  max-width: 100%; 
}

h2 {
  font-family: Pacifico;
  text-align: center;
  font-size: 3rem;
}

.flower {
/*  background-image: url("flower.png");*/
  width: 500px;
  height: 1000px;
}

.points {
	align: right;
  width: 200px;
}

.login {
  margin-top: 30px;
}

.leaderboard {
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-aligh: center;
    padding: 20px;
}

.leaderboard img {
    width: 50px;
    height: 50px;
}

svg { 
  position: absolute;
  font-family: Pacifico;
  font-size: 40px;
}


/*numbered in clockwise order starting at top*/
#petal1 {
  top: 50px;
  left: 160px;
}

#petal2 {
  top: 130px;
  left: 300px;
}

#petal3 {
  top: 310px;
}

#petal4 {
  top:350px;
  left: 100px;
}

#petal5 {
  top: 180px;
  left: 20px;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.halfWidth {
   width: 50%;
   margin-left: 0;
   margin-right: auto;
   max-width: initial;
}