.pointBox {
	align: right;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}
.flower {
	position: relative;
	width: 300px;
	height: 300px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
}

.center {
}

.petal1 {
}

.petal2 {
}

.petal3 {
}

.petal4 {
}

.petal5 {
}


.leaderboard {
    position: relative;
    width:70%;
    height:70%;
    max-width:960px;
    min-width:400px;
    min-height:600px;
    margin: 30px auto 0 auto;
    padding:3%;
}

.leaderboard h1{
    text-transform: uppercase;
    margin:30px;
    padding:0;
}

.content {
    position:relative;
    width:70%;
    margin:3px auto 0 auto;
    min-width:300px;

}

span {
    font-weight:bold;
}

ol {
    display: none;
}

.header { 
    
}

.loginB {
    padding: 30px;
}

#profile {
    padding: 10px;
}