/* CSS declarations go here */

body {
  background: url('symphony.png');
  text-align: center;
}

h1 {
  font-family: Pacifico;
  text-align: center;
  font-size: 8rem;
}

img {
  height: 75vh;
  margin: -10px;
}

.tasks {
  position: absolute;
  top: 15%;
  left: 18%;
  z-index: 10;
  
}

.taskmenu {
  position: relative;
}

h2 {
  font-family: Pacifico;
  text-align: center;
  font-size: 3rem;
}

.flower {
  height: 90vh;
}